.post {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0;
  padding: 15px;
  border-radius: 15px;
  background-color: #e6f9ff;
  &:after {
    position: absolute;
    top: 80%;
    bottom: 15px;
    left: 15px;
    z-index: -1;
    max-width: 300px;
    width: 50%;
    background: rgba(230, 249, 255, 1);
    -webkit-box-shadow: 0 10px 15px rgba(0, 191, 255, 1);
            box-shadow: 0 10px 15px rgba(0, 191, 255, 1);
    content: '';
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

.ava {
  overflow: hidden;

  & img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #cccccc;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 0 15px;
}

.content p {
  margin: 0;
}

.name {
  padding: 0 0 7px 0;
  color: rgba(0, 191, 255, 1);
  font-weight: bold;
}

.text {
  font-size: 14px;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  &__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 5px;
    border-radius: 50%;
    background: rgba(0, 191, 255, 1);
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    & svg {
      margin-bottom: -2px;
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
    }
    &:hover {
      background: #ffffff;
      -webkit-box-shadow: 0 -1px 21px -5px rgba(0, 191, 255, .75);
              box-shadow: 0 -1px 21px -5px rgba(0, 191, 255, .75);
      -webkit-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
    }
    &:hover svg {
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;

      fill: deepskyblue;
    }
    &:active svg, &:focus svg {
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
      -webkit-animation: bounce .5s ease-in-out 1;
              animation: bounce .5s ease-in-out 1;

      fill: #ffffff;
    }
    &:active, &:focus {
      background: rgb(255, 0, 128);
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
    }
  }

  &__counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 5px;
    padding: 2px 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: deepskyblue;
    color: #ffffff;
    font-size: 13px;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-3deg);
            transform: scale(1) rotate(-3deg);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-3deg);
            transform: scale(1) rotate(-3deg);
  }
}
