.navbar {
  display: grid;
  padding: 15px;
  background-color: #53c1de;

  grid-area: navbar;
}

.list {
  &__item {
    list-style-type: none;

    & a {
      color: seashell;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
      &:hover {
        color: darkslategrey;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }
    }
  }

  .active a {
    color: darkslategrey;
  }
}
