.navbar {
  display: grid;
  padding: 15px;
  background-color: rgba(0, 191, 255, 1);

  grid-area: navbar;
}

.list {
  &__item {
    padding: 5px 0;
    list-style-type: none;

    & a {
      color: seashell;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
      &:hover {
        color: darkslategrey;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }
    }
  }

  a.active {
    color: #434d56;
  }
}
