@import '../../variables.scss';

.navbar {
  display: grid;
  padding: 0 0 15px 15px;
  background-color: $mainColor;

  grid-area: navbar;
}

.list {
  &__item {
    margin: 0 0 5px 0;
    list-style-type: none;

    & a {
      position: relative;
      padding: 8px 5px 8px 10px;
      border-radius: 5px 0 0 5px;
      background: $mainColor;
      color: $light1;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 130%;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      -webkit-transition: all .2s linear;
              transition: all .2s ease-in-out;
              transition: all .2s linear;

      &:hover {
        color: $dark1;
        -webkit-transition: all .2s linear;
                transition: all .2s linear;
      }
    }
  }

  a.active {
    color: $dark1;
  }
}
