html, body, #root, .App {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: grid;
  min-height: 100%;
  /* grid-gap: 0 10px; */

  grid-template-areas: 'header header' 'navbar content' 'footer footer';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px auto 100px;
}

.content {
  padding: 15px;

  grid-area: content;
}
