@import '../../variables.scss';

.title {
  padding: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: normal;
}
.dialogs {
  display: grid;

  grid-template-rows: auto auto;
  &__wrapper {
    display: grid;

    grid-template-columns: 1fr 3fr;
  }
  &__items {
    padding: 0 15px 0 0;
  }
}

.message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 15px 0;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba($mainColor, .1);
  cursor: pointer;
  &__text {
    font-size: 18px;
  }
}

.dialog {
  position: relative;
  margin: 0 0 5px 0;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  background-color: rgba($mainColor, .75);
  font-size: 18px;
  line-height: 130%;
  cursor: pointer;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
  &:hover &__name {
    color: $dark1;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
  }
  &__name {
    color: $light1;
  }
}
