@import '../../variables.scss';

.title {
  padding: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: normal;
}
.dialogs {
  display: grid;

  grid-template-rows: auto auto;
  &__wrapper {
    display: grid;

    grid-template-columns: 1fr 3fr;
  }
  &__items {
    padding: 0 15px 0 0;
  }
}
